{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "dynamic-import-node",
    "loadable-components/babel",
    ["transform-class-properties", { "loose": true }],
    "transform-object-rest-spread"
  ]
}
