{
  "plugins": [
    ["transform-class-properties", { "loose": true }],
    "transform-object-rest-spread",
    "dynamic-import-node"
  ],
  "presets": [
    ["env", { "loose": true }],
    "react"
  ],
}
